# MongoDB Configuration
# --------------------
MONGO_HOST="your_mongodb_host_ip"
MONGO_PORT=27022
MONGO_USER="your_username"
MONGO_PASS="your_password"
MONGO_AUTH_SOURCE="admin"
MONGO_DB_NAME="your_database_name"

# Google Drive Configuration
# --------------------
GDRIVE_TOKEN_PATH="credentials/OAuth2_token.pickle"
